/* You can add global styles to this file, and also import other style files */

@import 'variables';
* {
    font-family: $font_lato;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.input-group {
    margin-bottom: 15px;
}