/* Variables styles */

@import url('https://fonts.googleapis.com/css?family=Lato|Ubuntu');
$cjd_green: rgb(75,
114,
35);
$cjd_blue: rgb(67,
138,
180);
$cjd_darkblue: rgb(38,
66,
146);
$cjd_orange: rgb(242,
148,
0);
$cjd_pink: rgb(182,
4,
87);
$invalid: #cf000f;
$font_lato: 'Lato',
sans-serif;
$font_ubuntu: 'Ubuntu',
sans-serif;