# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/client/dist
/client/tmp
/client/out-tsc
/server/dist
/server/tmp
/server/out-tsc

# dependencies
/node_modules
/client/node_modules
/server/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/client/.idea
/client/.project
/client/.classpath
/client/.c9/
/client/*.launch
/client/.settings/
/client/*.sublime-workspace
/server/.idea
/server/.project
/server/.classpath
/server/.c9/
/server/*.launch
/server/.settings/
/server/*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/client/.vscode/*
/client/!.vscode/settings.json
/client/!.vscode/tasks.json
/client/!.vscode/launch.json
/client/!.vscode/extensions.json
/server/.vscode/*
/server/!.vscode/settings.json
/server/!.vscode/tasks.json
/server/!.vscode/launch.json
/server/!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
npm-debug.log*
*.log
/typings
npm-debug.log*
/client/.sass-cache
/client/connect.lock
/client/coverage
/client/npm-debug.log*
/client/*.log
/client/typings
/server/.sass-cache
/server/connect.lock
/server/coverage
/server/npm-debug.log*
/server/*.log
/server/typings

# e2e
/e2e/*.js
/e2e/*.map
/client/e2e/*.js
/client/e2e/*.map
/server/e2e/*.js
/server/e2e/*.map

# System Files
.DS_Store
Thumbs.db
/client/.DS_Store
/client/Thumbs.db
/server/.DS_Store
/server/Thumbs.db

# Runtime data
pids
*.pid
*.seed
/client/pids
/client/*.pid
/client/*.seed
/server/pids
/server/*.pid
/server/*.seed

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov
/client/lib-cov
/server/lib-cov

# Coverage directory used by tools like istanbul
coverage
/client/coverage
/server/coverage

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt
/client/.grunt
/server/.grunt

# node-waf configuration
.lock-wscript
/client/.lock-wscript
/server/.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release
/client/build/Release
/server/build/Release

# Optional npm cache directory
.npm
/client/.npm
/server/.npm

# Optional REPL history
.node_repl_history
/client/.node_repl_history
/server/.node_repl_history

# Env variables
.env
/client/.env
/server/.env


