<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<!-- List users -->
<div class="card" *ngIf="!isLoading && !isEditing && !isAdding">
  <h5 class="card-header">Liste des membres ({{users.length}}) /
    <button class="btn btn-sm btn-success" (click)="enableAdding()">
      <i class="fa fa-plus"></i> Ajouter</button>
    <input class="form-control mr-sm-2" type="text" [(ngModel)]="term" placeholder="Rechercher" aria-label="Rechercher">
  </h5>

  <div class="card-block">
    <table class="table table-bordered table-striped">
      <thead class="thead-default">
        <tr>
          <th>Photo</th>
          <th>Prénom</th>
          <th>Nom</th>
          <th>Email</th>
          <th>Tél.</th>
          <th>Cotisations</th>
          <th>Points</th>
          <th>Rôle</th>
        </tr>
      </thead>
      <tbody *ngIf="users.length === 0">
        <tr>
          <td colspan="12">Il n'y a aucun membre enregistré. Veuillez créer une nouvelle fiche.</td>
        </tr>
      </tbody>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let user of users | filter : term">
          <td>
            <img src="{{user.avatar}}" id="avatar" class="rounded-circle mx-auto d-block" *ngIf="user.avatar">
            <i class="fa fa-user-circle-o fa-3x" *ngIf="!user.avatar"></i>
          </td>
          <td>{{user.first_name}}</td>
          <td>{{user.last_name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.contribution_id}}</td>
          <td>{{user.points}}</td>
          <td>{{user.Type_user.type}}</td>
          <td>
            <button class="btn btn-sm btn-warning" (click)="enableEditing(user)" title="Modifier">
              <i class="fa fa-pencil"></i>
            </button>
          </td>
          <td>
            <button class="btn btn-sm btn-danger" (click)="enableDeleting(user)" title="Supprimer" data-toggle="modal" data-target="#confirmDelete">
              <i class="fa fa-trash"></i>
            </button>
            <div class="modal fade" id="confirmDelete" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button class="close" data-dismiss="modal">
                      <i class="fa fa-times"></i>
                    </button>
                    <h5 class="modal-title">Voulez-vous réellement supprimer cette fiche?</h5>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button class="btn btn-primary" (click)="deleteUser()" data-dismiss="modal">Confirmer</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Edit user -->
<div class="card" *ngIf="isEditing">
  <h5 class="card-header">Modifier un membre /
    <button class="btn btn-sm btn-warning" (click)="cancelEditing()">
      <i class="fa fa-times"></i> Annuler</button>
  </h5>
  <div class="card-block">
    <form class="form-inline" #form="ngForm" (ngSubmit)="editUser(user)" style="text-align:center">

      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <div class="card-header">
              <h5 class="card-title">Photo</h5>
            </div>
            <label for="avatar">Image: </label>
            <input class="form-control" type="file" ng2FileSelect [uploader]="uploader">
            <input class="form-control" type="text" name="avatar" [(ngModel)]="user.avatar" hidden>
            <button type="button" class="btn btn-success" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
              <i class="fa fa-upload"></i> Envoyer</button>
          </div>
          <div class="card-body">
            <p *ngIf="!user.avatar && !this.avatarPreview[0]">Pas d'image</p>
            <img id="avatarPreview" *ngIf="this.avatarPreview[0]" src="{{urlPublic}}{{this.avatarPreview[0]}}" class="img-thumbnail">
            <img id="avatarPreview" *ngIf="user.avatar && !this.avatarPreview[0]" src="{{user.avatar}}" class="img-thumbnail">
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <div class="card-header">
              <h5 class="card-title">Contact</h5>
            </div>
            <div class="form-group">
              <label for="first_name">Prénom: </label>
              <input class="form-control" type="text" name="first_name" [(ngModel)]="user.first_name" [ngModelOptions]="{standalone: true}"
                (keyup)="changeFirst_name(first_name.value)" value="{{first_nameValue | titlecase}}" required>
            </div>
            <div class="form-group">
              <label for="last_name">Nom: </label>
              <input class="form-control" type="text" name="last_name" [(ngModel)]="user.last_name" [ngModelOptions]="{standalone: true}"
                (keyup)="changeLast_name(last_name.value)" value="{{last_nameValue | uppercase}}" required>
            </div>
            <div class="form-group" [ngClass]="setClassEmail()">
              <label for="email">Email: </label>
              <input class="form-control" type="email" name="email" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" (keyup)="changeEmail(email.value)"
                value="{{emailValue | lowercase}}" required>
            </div>
            <div class="form-group" [ngClass]="setClassPassword()">
              <label for="password">Mot de passe: </label>
              <input class="form-control" type="password" name="password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}"
                required>
            </div>
            <div class="form-group" [ngClass]="setClassPhone()">
              <label for="phone">Tél.: </label>
              <input class="form-control" type="tel" [(ngModel)]="user.phone" [ngModelOptions]="{standalone: true}" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$"
                name="phone" required>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="card-header">
              <h5 class="card-title">Société</h5>
            </div>
            <div class="form-group">
              <label for="company_name">Nom: </label>
              <input class="form-control" type="text" name="company_name" [(ngModel)]="user.company_name" [ngModelOptions]="{standalone: true}"
                required>
            </div>
            <div class="form-group">
              <label for="company_job">Métier: </label>
              <input class="form-control" type="text" name="company_job" [(ngModel)]="user.company_job" [ngModelOptions]="{standalone: true}"
                required>
            </div>
            <div class="form-group">
              <label for="company_address">Adresse: </label>
              <textarea class="form-control" type="text" name="company_address" [(ngModel)]="user.company_address" [ngModelOptions]="{standalone: true}"
                minlength="10" maxlength="100" required></textarea>
            </div>
            <div class="form-group">
              <label for="company_business_revenue">C.A.: </label>
              <input class="form-control" type="text" name="company_business_revenue" [(ngModel)]="user.company_business_revenue" [ngModelOptions]="{standalone: true}"
                required>
            </div>
            <div class="form-group">
              <label for="num_employee">Effectif: </label>
              <input class="form-control" type="number" min="1" name="num_employee" [(ngModel)]="user.num_employee" [ngModelOptions]="{standalone: true}"
                required>
            </div>
          </div>
        </div>
      </div>
      <div class="card-deck">

        <div class="card">
          <div class="card-body">
            <div class="card-header">
              <h5 class="card-title">Détails</h5>
            </div>
            <div class="form-group">
              <label for="type_user">Fonction au CJD: </label>
              <select class="form-control" name="type_user_id" [(ngModel)]="user.type_user_id" [ngModelOptions]="{standalone: true}" required>
                <option *ngFor="let type_user of type_users" [value]="type_user.id">{{type_user.type}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="other_function">Autres fonctions: </label>
              <textarea class="form-control" type="text" name="other_function" [(ngModel)]="user.other_function" [ngModelOptions]="{standalone: true}"
                minlength="10" maxlength="100" required></textarea>
            </div>
            <div class="form-group">
              <label for="hobby">Loisirs: </label>
              <textarea class="form-control" type="text" name="hobby" [(ngModel)]="user.hobby" [ngModelOptions]="{standalone: true}" minlength="10"
                maxlength="100" required></textarea>
            </div>
            <div class="form-group">
              <label for="description">Description: </label>
              <textarea class="form-control" type="text" name="description" [(ngModel)]="user.description" [ngModelOptions]="{standalone: true}"
                minlength="10" maxlength="250" required></textarea>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="card-header">
              <h5 class="card-title">Participation</h5>
            </div>
            <div class="form-group">
              <label for="points">Points: </label>
              <input class="form-control" type="number" min="0" name="points" [(ngModel)]="user.points" [ngModelOptions]="{standalone: true}"
                required>
            </div>
            <div class="form-group">
              <label for="contribution">Cotisations:
                <em>(cocher si réglé)</em>
              </label>
              <ul class="list-group form-control" name="contribution_id" required>
                <li class="list-group-item" *ngFor="let contribution of contributions">
                  <!-- {{contribution.status}} -->
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" *ngIf="isChecked" checked="checked">
                    <input type="checkbox" class="custom-control-input" *ngIf="!isChecked">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{contribution.title}} ({{contribution.price}}€)</span>
                  </label>
                </li>
                <input class="form-control" type="number" min="1" value="1" name="contribution_id" formControlName="contribution_id" required>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid">
        <i class="fa fa-floppy-o"></i> Enregistrer</button>
    </form>
  </div>
</div>

<!-- Create user -->
<div class="card" *ngIf="!isEditing && isAdding">
  <h5 class="card-header">Ajouter un membre /
    <button class="btn btn-sm btn-warning" (click)="cancelAdding()">
      <i class="fa fa-times"></i> Annuler</button>
  </h5>
  <div class="card-block">
    <form class="form-inline" [formGroup]="addUserForm" (ngSubmit)="addUser()" style="text-align:center">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <div class="card-header">
              <h5 class="card-title">Photo</h5>
            </div>
            <label for="avatar">Image: </label>
            <input class="form-control" type="file" ng2FileSelect [uploader]="uploader">
            <input class="form-control" type="text" name="avatar" formControlName="avatar" [(ngModel)]="this.avatar" hidden>
            <button type="button" class="btn btn-success" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
              <i class="fa fa-upload"></i> Envoyer</button>
          </div>
          <div class="card-body">
            <p *ngIf="!this.avatarPreview[0]">Pas d'image</p>
            <img id="avatarPreview" *ngIf="this.avatarPreview[0]" src="{{urlPublic}}{{this.avatarPreview[0]}}" class="img-thumbnail">
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="card-header">
              <h5 class="card-title">Contact</h5>
            </div>
            <div class="form-group">
              <label for="first_name">Prénom: </label>
              <input class="form-control" type="text" name="first_name" formControlName="first_name" (keyup)="changeFirst_name(first_name.value)"
                value="{{first_nameValue | titlecase}}" required>
            </div>
            <div class="form-group">
              <label for="last_name">Nom: </label>
              <input class="form-control" type="text" name="last_name" formControlName="last_name" (keyup)="changeLast_name(last_name.value)"
                value="{{last_nameValue | uppercase}}" required>
            </div>
            <div class="form-group" [ngClass]="setClassEmail()">
              <label for="email">Email: </label>
              <input class="form-control" type="email" name="email" formControlName="email" (keyup)="changeEmail(email.value)" value="{{emailValue | lowercase}}"
                required>
            </div>
            <div class="form-group" [ngClass]="setClassPassword()">
              <label for="password">Mot de passe: </label>
              <input class="form-control" type="string" name="password" maxlength="6" formControlName="password" required>
            </div>
            <div class="form-group" [ngClass]="setClassPhone()">
              <label for="phone">Tél.: </label>
              <input class="form-control" type="tel" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$"
                name="phone" formControlName="phone" required>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="card-header">
              <h5 class="card-title">Société</h5>
            </div>
            <div class="form-group">
              <label for="company_name">Nom: </label>
              <input class="form-control" type="text" name="company_name" formControlName="company_name" required>
            </div>
            <div class="form-group">
              <label for="company_job">Métier: </label>
              <input class="form-control" type="text" name="company_job" formControlName="company_job" required>
            </div>
            <div class="form-group">
              <label for="company_address">Adresse: </label>
              <textarea class="form-control" type="text" name="company_address" formControlName="company_address" minlength="10" maxlength="100"
                required></textarea>
            </div>
            <div class="form-group">
              <label for="company_business_revenue">C.A.: </label>
              <input class="form-control" type="text" name="company_business_revenue" formControlName="company_business_revenue" required>
            </div>
            <div class="form-group">
              <label for="num_employee">Effectif: </label>
              <input class="form-control" type="number" min="1" name="num_employee" formControlName="num_employee" required>
            </div>
          </div>
        </div>
      </div>
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <div class="card-header">
              <h5 class="card-title">Détails</h5>
            </div>
            <div class="form-group">
              <label for="type_user">Fonction au CJD: </label>
              <select [(ngModel)]="type_user" class="form-control" name="type_user_id" formControlName="type_user_id" required>
                <option *ngFor="let type_user of type_users" [value]="type_user.id">{{type_user.type}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="other_function">Autres fonctions: </label>
              <textarea class="form-control" type="text" name="other_function" formControlName="other_function" minlength="10" maxlength="100"
                required></textarea>
            </div>
            <div class="form-group">
              <label for="hobby">Loisirs: </label>
              <textarea class="form-control" type="text" name="hobby" formControlName="hobby" minlength="10" maxlength="100" required></textarea>
            </div>
            <div class="form-group">
              <label for="description">Description: </label>
              <textarea class="form-control" type="text" name="description" formControlName="description" minlength="10" maxlength="250"
                required></textarea>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="card-header">
              <h5 class="card-title">Participation</h5>
            </div>
            <div class="form-group">
              <label for="points">Points: </label>
              <input class="form-control" type="number" min="0" name="points" formControlName="points" required>
            </div>
            <div class="form-group">
              <label for="contribution">Cotisations:
                <em>(cocher si réglé)</em>
              </label>
              <ul class="list-group form-control" name="contribution_id" required>
                <li class="list-group-item" *ngFor="let contribution of contributions">
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{contribution.title}} ({{contribution.price}}€)</span>
                  </label>
                </li>
                <input class="form-control" type="number" min="1" value="1" name="contribution_id" formControlName="contribution_id" required>

              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- [disabled]="!addUserForm.valid" -->
      <button class="btn btn-primary" type="submit">
        <i class="fa fa-floppy-o"></i> Valider</button>
    </form>
  </div>
</div>
